---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import { Image, getImage } from "astro:assets";
import { authors } from "@/data/authors";
import Pagetitle from "@/components/pagetitle.astro";
import Link from "@/components/ui/link.astro";


---

<Layout title="About">
  <Container>
    <Pagetitle>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">We are a small passionate team.</Fragment>
    </Pagetitle>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        authors.slice(0, 3).map((item) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Image
                src={item.image}
                format="avif"
                width={580}
                height={580}
                alt="Team"
                class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h3 class="text-sm text-gray-500 dark:text-gray-300">
                {" "}
                {item.name}
              </h3>
            </div>
          </div>
        ))
      }
    </div>

    <div class="mx-auto max-w-xl text-center mt-14">
      <p class="text-lg leading-relaxed text-gray-600 dark:text-gray-400">
        We're a multi-cultural team from around the world! We come from diverse
        backgrounds, bringing different personalities, experiences and skills to
        the job. This is what makes our team so special.
      </p>
      <div class="mt-8">
        <Link href="/contact" style="primary">Get in touch</Link>
      </div>
    </div>
  </Container>
</Layout>
