---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Image } from "@astrojs/image/components";
import { authors } from "@data/authors";
import Pagetitle from "@components/pagetitle.astro";
import Link from "@components/ui/link.astro";
---

<Layout title="About">
  <Container>
    <Pagetitle>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">I am an enthusiastic developer.</Fragment>
    </Pagetitle>

<div class="flex justify-center items-center">
      {
        authors.slice(0, 1).map((item) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Image
                src={item.image}
                format="avif"
                width={300}
                height={300}
                alt="Team"
                class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h3 class="text-sm text-gray-500 dark:text-gray-300">
                {" "}
                {item.name}
              </h3>
            </div>
          </div>
        ))
      }
    </div>














    <div class="mx-auto max-w-xl text-center mt-14">
      <p class="text-lg leading-relaxed text-gray-600 dark:text-gray-400">
        Proficient with Python, Flask, and JavaScript-based programming. Geological modeling and Geographic Information System (GIS) background.
      </p>
      <div class="mt-8">
        <Link href="/contact" style="primary">Get in touch</Link>
      </div>
    </div>
  </Container>
</Layout>
