---
import Container from "@/components/container.astro";
import Pagetitle from "@/components/pagetitle.astro";
import Postlist from "@/components/postlist.astro";
import Layout from "@/layouts/Layout.astro";
import { latestPosts } from "@/utils/content";
// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.publishDate).valueOf() -
//     new Date(a.frontmatter.publishDate).valueOf()
// );
---

<Layout title="Archive">
  <Container>
    <Pagetitle>
      <Fragment slot="title">Archive</Fragment>
      <Fragment slot="desc">See all posts we have ever written.</Fragment>
    </Pagetitle>
    <main>
      <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
        {latestPosts.map((post) => <Postlist post={post} aspect="square" />)}
      </div>
    </main>
  </Container>
</Layout>
