---
import "@fontsource-variable/inter";
import Footer from "@/components/footer.astro";
import Navbar from "@/components/navbar.astro";
import { checkImageUrl } from "@/utils/all";
import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  desc?: string;
  ogimage?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, desc, ogimage = "/opengraph.jpg" } = Astro.props;

const resolvedOGImage = checkImageUrl(ogimage, Astro.site);

const makeTitle = title
  ? title + " | " + "Stablo"
  : "Stablo — Free Blog Website Template built with Astro & MDX";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitle}
      description={desc ||
        "Stablo is a Blog Starter Template built with Astro & MDX."}
      canonical={canonicalURL}
      twitter={{
        creator: "@/surjithctly",
        site: "@/web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Stablo - Blog Starter Template for Astro`,
          image: resolvedOGImage,
        },
        image: {
          alt: "Stablo Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
