---
// Carousel.astro
import Imagemap from "@components/ui/imagemap.astro";
const { imagesWithDots } = Astro.props;
const imagesWithDotsNumber = imagesWithDots.length;
---
<!-- Styles -->
<style>
    /* Carousel Container Styles */
    .carousel-container {
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .carousel-container img {
        pointer-events: none;
    }

    /* Carousel Slide Styles */
    .carousel-slide {
        display: flex;
        transition: transform 0.5s;
        width: calc(100% * ( { imagesWithDotsNumber } + 1 ));
    }
    .carousel-slide > div {
        flex: 0 0 100%;
    }
    .carousel-slide img {
        width: 100%;
        height: auto;
    }

    /* Carousel Buttons Styles */
    .carousel-buttons {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .carousel-button, .swiper-button-prev, .swiper-button-next {
        padding: 5px 10px;
        margin: 0 5px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
        opacity: 0.7;
        transition: opacity 0.3s;
        background: none;
        color: #007aff;
    }
    .swiper-button-prev:hover, .swiper-button-next:hover {
        opacity: 1;
    }
    .swiper-button-prev {
        left: 1%;
    }
    .swiper-button-next {
        right: 1%;
    }

    /* Slide Number Styles */
    .slide-number {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        padding: 5px 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 5px;
        font-size: 16px;
    }
</style>

<!-- Scripts -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let slideIndex = 0;
        
        function moveSlide(n) {
            const slides = document.querySelectorAll('.carousel-slide > div');
            slideIndex += n;

            if (slideIndex >= slides.length) {
                slideIndex = 0;
            } else if (slideIndex < 0) {
                slideIndex = slides.length - 1;
            }

            const container = document.querySelector('.carousel-slide');
            container.style.transform = `translateX(-${slideIndex * 100}%)`;

            // Update the slide number text
            const slideNumberElement = document.querySelector('.slide-number');
            slideNumberElement.textContent = `${slideIndex + 1} / ${slides.length}`;
        }

        const prevButton = document.querySelector('.swiper-button-prev');
        const nextButton = document.querySelector('.swiper-button-next');

        prevButton.addEventListener('click', function() {
            moveSlide(-1);
        });

        nextButton.addEventListener('click', function() {
            moveSlide(1);
        });

        // Touch controls
        let startX;
        let endX;
        const threshold = 100;

        const container = document.querySelector('.carousel-container');

        container.addEventListener('mousedown', (e) => {
            startX = e.clientX;
        });

        container.addEventListener('mouseup', (e) => {
            endX = e.clientX;
            handleSwipe();
        });

        container.addEventListener('touchstart', (e) => {
            startX = e.touches[0].clientX;
        });

        container.addEventListener('touchend', (e) => {
            if (e.changedTouches && e.changedTouches.length) {
                endX = e.changedTouches[0].clientX;
                handleSwipe();
            }
        });

        function handleSwipe() {
            if (startX - endX > threshold) {
                moveSlide(1);
            } else if (endX - startX > threshold) {
                moveSlide(-1);
            }
        }
    });
</script>
    
<!-- Markup -->
<div class="carousel-container">
    <!-- Previous Button with SVG Icon -->
    <div part="button-prev" class="swiper-button-prev">
        <svg width="22" height="40" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.38296 20.0762C0.111788 19.805 0.111788 19.3654 0.38296 19.0942L9.19758 10.2796L0.38296 1.46497C0.111788 1.19379 0.111788 0.754138 0.38296 0.482966C0.654131 0.211794 1.09379 0.211794 1.36496 0.482966L10.4341 9.55214C10.8359 9.9539 10.8359 10.6053 10.4341 11.007L1.36496 20.0762C1.09379 20.3474 0.654131 20.3474 0.38296 20.0762Z" fill="currentColor" transform-origin="center" transform="rotate(180)"></path>
        </svg>
    </div>

    <!-- Next Button with SVG Icon -->
    <div part="button-next" class="swiper-button-next">
        <svg width="22" height="40" viewBox="1 1 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.38296 20.0762C0.111788 19.805 0.111788 19.3654 0.38296 19.0942L9.19758 10.2796L0.38296 1.46497C0.111788 1.19379 0.111788 0.754138 0.38296 0.482966C0.654131 0.211794 1.09379 0.211794 1.36496 0.482966L10.4341 9.55214C10.8359 9.9539 10.8359 10.6053 10.4341 11.007L1.36496 20.0762C1.09379 20.3474 0.654131 20.3474 0.38296 20.0762Z" fill="currentColor"></path>
        </svg>
    </div>
  
    <div class="carousel-slide">
      {imagesWithDots && imagesWithDots.map(image => (
        <div class="flex justify-center my-5">
          <Imagemap src={image.src} dots={image.dots} />
        </div>
      ))}
    </div>
    <div class="slide-number">1 / {imagesWithDotsNumber}</div>
</div>